<!DOCTYPE html>
    <body>
        <!-- main_nav should go across entire screen -->
        <!-- <div class = "nav_container"> -->
            <div class = "top_nav_container">
                <div class = "social_container">
                    <a href="#" class="fa fa-pinterest social_icon"></a>
                    <a href="#" class="fa fa-facebook social_icon"></a>
                    <a href="#" class="fa fa-twitter social_icon"></a>
                    <a href="#" class="fa fa-instagram social_icon"></a>
                </div>
                <div class = "mobile_site_nav_container">
                    <button class="fa fa-bars social_icon"></a>
                </div>
            </div>
        <!-- </div> -->
        <div class = "rod_jumbotron">
            <img class = "site_title" src="/assets/rod_logo.png" alt="placeholder">
        </div>
        <div class = "desktop_site_nav_wrapper">
        <div class = "desktop_site_nav_container">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="blog_posts.html">Blog Posts</a>
            <a href="#">Contact</a>
        </div>
    </div>
        <script src="/assets/js/nav_js.js"></script>
    </body>
</html>
